<div id="gameoverPodium">
    <h1 class="text-center my-3" style="font-size: 4rem;">Final Scores</h1>
    {{#or (eq roomType "individual") (and (eq roomType "group") (eq groupType "oneForAll")) }}
        {{#equalsLength podiumList 0}}
            <div class="no-data-container">
                <img src="/static/img/no_data.svg" class="mh-100 mb-3 w-25"/>
                <span class="no-data-title">No scores!</span>
            </div>
        {{else}}
            <div id="podium">
                {{#each podiumList }}
                    {{#lte this.ranking 3}}
                        <div class="podium-box p{{this.ranking}} hidden">
                            <div class="place-img"></div>
                            <span class="podium-name">{{default this.name this.id "---"}}</span>
                        </div>
                    {{/lte}}
                {{/each}}
            </div>
            <div class="pyro">
                <div class="before"></div>
                <div class="after"></div>
            </div>
        {{/equalsLength}}
    {{else}}
        {{#and (isArray podiumList) (equalsLength podiumList 0) }}
            <div class="no-data-container">
                <img src="/static/img/no_data.svg" class="mh-100 mb-3 w-25"/>
                <span class="no-data-title">No scores!</span>
            </div>
        {{else}}
            <div id="podium">
                {{#each podiumList}}
                    <div class="podium-box ffa flex-column">
                        <span class="podium-name">{{default @key "---"}}</span>
                        <span class="group-winner">{{default this.[0].name "---"}}</span>
                    </div>
                {{/each}}
            </div>
            <div class="pyro">
                <div class="before"></div>
                <div class="after"></div>
            </div>
        {{/and}}
    {{/or}}

    <script>
        require(['jquery'], function (jQ) {
            jQ('#podium .podium-box.hidden').first().removeClass('hidden');

            let func = function () {
                jQ('#podium .podium-box.hidden').first().removeClass('hidden');
                jQ('#gameoverPodium').animate({
                    scrollTop: jQ('#gameoverPodium').get(0).scrollHeight
                }, 2000);
                if (jQ('#podium .podium-box.hidden').length > 0) {
                    setTimeout(func, 1000);
                }
            }

            if (jQ('#podium').length > 0) {
                setTimeout(func, 1000);
            }
        });
    </script>

</div>
