<div id="groupPlayers">
    {{#if groups}}
        {{#each groups}}
            <div class="group-row" {{#not @last}}style="margin-bottom: 2rem;"{{/not}}  >
                <h4 class="group-name">{{id}}</h4>
                {{#each playerScores}}
                    <div class="player-row">
                        <div class="player-name" style="padding-left:1rem;">{{name}}</div>
                        <button class="player-value icon-cancel kick-btn" data-user="{{id}}"></button>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    {{else}}
        <div class="no-data-container">
            <span class="no-data-title">No players!</span>
            <div class="place-img no-data"></div>
        </div>
    {{/if}}

	<script>
		require(['jquery', 'app/view_sound_grid'], function (jQ, view_sound_grid) {

			jQ('#playerListContent .kick-btn').click(function () {
				view_sound_grid.kickPlayer(jQ(this).attr('data-user'));
			});

            view_sound_grid.updatePlayerCount({{playerCount}});

		});
	</script>
</div>