{{#if players}}
    {{#each players}}
        <div class="player-row d-flex">
            <div class="player-name flex-1 ellipsis">{{name}}</div>
            <button class="player-value icon-cancel kick-btn" data-user="{{id}}"></button>
        </div>
    {{/each}}
{{else}}
    <div class="no-data-container">
        <img src="/static/img/no_data.svg" class="mh-100 mb-3 w-25"/>
        <span class="no-data-title" data-lang="NO_PLAYERS">{{INT_MESSAGES.NO_PLAYERS}}</span>
    </div>
{{/if}}


<script>
	require(['jquery', 'app/view_sound_grid'], function (jQ, view_sound_grid) {

		jQ('#playerListContent .kick-btn').click(function () {
			view_sound_grid.kickPlayer(jQ(this).attr('data-user'));
		});

        view_sound_grid.updatePlayerCount({{playerCount}});

	});
</script>