<div id="vowelSelector" class="modal-popup">
	<div class="modal-black"></div>
	<div id="vowelSelectorContent" class="modal-popup-content">
		<h1>Select Enabled Vowels</h1>
		<div class="options-holder">
			{{#each vowels}}
                <ul data-key="{{@key}}">{{titleize (lowercase (replace @key "_" " "))}} - {{this.[0]}}

                    {{#each this}}
                        <li>
                            <label>{{this}}</label>
                            <label class="switch">
                                <input data-key="{{this}}" name="{{this}}" type="checkbox" checked="checked">
                                <span class="slider round"></span>
                            </label>
                        </li>
                    {{/each}}

                </ul>
			{{/each}}

		</div>
		<button id="closeVowelSelectorBtn" class="modal-close-btn icon-cancel"></button>
	</div>

	<script>
		require(['jquery', 'app/view_sound_grid'], function (jQ, soundGrid) {

			jQ('#vowelSelector input').click(function (e) {
			    let el = jQ(this);
			    let ul = el.closest('ul');
			    if (!el || !ul) { return false; }
			    soundGrid.toggleVowelLabel(ul.attr('data-key'), el.attr('data-key'), el.is(':checked'));
			});

		});
	</script>

</div>