<div id="soundGridHolder" class="{{#if locked}}locked{{/if}} container">
	<div class="row">
		<div class="col-6">
			<button id="sound_A" data-sound="A">{{vowels.[0]}}</button>
		</div>
		<div class="col-6">
			<button id="sound_AI" data-sound="AI">{{vowels.[1]}}</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="sound_E" data-sound="E">{{vowels.[2]}}</button>
		</div>
		<div class="col-6">
			<button id="sound_EE" data-sound="EE">{{vowels.[3]}}</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="sound_I" data-sound="I">{{vowels.[4]}}</button>
		</div>
		<div class="col-6">
			<button id="sound_IE" data-sound="IE">{{vowels.[5]}}</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="sound_O" data-sound="O">{{vowels.[6]}}</button>
		</div>
		<div class="col-6">
			<button id="sound_OA" data-sound="OA">{{vowels.[7]}}</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="sound_U" data-sound="U">{{vowels.[8]}}</button>
		</div>
		<div class="col-6">
			<button id="sound_UE" data-sound="UE">{{vowels.[9]}}</button>
		</div>
	</div>
</div>