<div id="sound-grid" data-target="body" data-add="self">
	<input type="hidden" value="{{roomID}}" id="roomIDVal"/>
	<div id="header">
		<div id="header-text">
			{{#if groupID}}<h2>{{groupID}}</h2>{{/if}}
			<h1>母音聞く練習 - {{player.name}}</h1>
		</div>
		<button id="leaderboardBtn" class="icon-award"></button>
	</div>
	{{> vowel_grid}}

	{{> leaderboard}}


	<div id="popup">
		<div id="popupContent"></div>
	</div>

	<script>
		require(['app/view_sound_grid_student', 'app/player'], function (view_sound_grid_student, Player) {
			let player = Player.getPlayer();
			player.name = {{player.name}};
            {{#if groupID}}player.group = {{groupID}};{{/if}}
		    view_sound_grid_student.start();
		});


	</script>
</div>