<div id="sound-grid-holder" data-target="body" data-add="self"
     class="w-100 h-100 bg-white d-flex flex-column align-items-center justify-content-end">

    <div id="sound-grid" class="student mb-3" data-target="body" data-add="self">
        <input type="hidden" value="{{roomID}}" id="roomIDVal"/>

        <div id="header">
            <img src="/static/img/logo.svg" class="mh-100 mw-25 me-3"/>
            <div id="studentTimer" style="display: none;">
                <div id="answerTimer" class="disabled"></div>
            </div>
            <div id="headerContent" class="d-flex align-items-center flex-1 flex-no-wrap">
                <div class="d-flex flex-column m-0 p-0" style="flex: 2 1;">
                    <h6 class="m-0">{{player.name}}</h6>
                    {{#if groupID}}<h6 class="m-0">{{groupID}}</h6>{{/if}}
                </div>
                <button id="leaderboardBtn" class="icon-btn icon-award" data-bs-toggle="modal" data-bs-target="#leaderboard"></button>
            </div>
        </div>

        {{> vowel_grid}}

        {{> leaderboard}}

        {{> reconnecting}}

        <div id="popup">
            <div id="popupContent"></div>
        </div>

        <script>
            require(['app/view_sound_grid_student', 'app/player'], function (view_sound_grid_student, Player) {
                let player = Player.getPlayer();
                player.name = "{{player.name}}";
                        {{#if groupID}}player.group = "{{groupID}}";{{/if}}
                view_sound_grid_student.start();
            });
        </script>
    </div>

</div>

